{extend name='pub/modal'}
{block name='content'}
        <div class="layui-fluid lotus-form">
            <form class="layui-form layui-form-pane" lay-filter="lotus-form-filter" id="lotus-sigle-edit-form" action="set" method="post">
    <div class="layui-row">
            <div class="layui-form-item">
                <label class="layui-form-label">企业名称</label>
                <div class="layui-input-block">
                    <input type="text" id="site_name"  name="site_name" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">登陆标题</label>
                <div class="layui-input-block">
                    <input type="text" id="login_title" name="login_title"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-inline">
                    <input type="text" id="admin" name="admin"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">联系地址</label>
                <div class="layui-input-block">
                    <input type="text" id="address" name="address"  placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" id="email" name="email"  placeholder="用以接收系统重要消息" autocomplete="off" class="layui-input">
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" >
                <legend style="color:#FF5722">微信支付配置</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label">MCHID</label>
                <div class="layui-input-block">
                    <input type="text" id="wechat_mchid" name="wechat_mchid"  placeholder="微信支付商户号" autocomplete="off" class="layui-input">
                </div>
                </div>

                <div class="layui-form-item">
                <label class="layui-form-label">APPID</label>
                <div class="layui-input-block">
                    <input type="text" id="wechat_appid" name="wechat_appid"  placeholder="微信支付商户号" autocomplete="off" class="layui-input">
                </div>
                </div>

                <div class="layui-form-item">
                <label class="layui-form-label">KEY</label>
                <div class="layui-input-block">
                    <input type="text" id="wechat_key"  name="wechat_key" lay-verify="required" autocomplete="off" placeholder="微信支付APPID" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">APPSECRET</label>
                <div class="layui-input-block">
                    <input type="text" id="wechat_appsecret" name="wechat_appsecret"  placeholder="微信支付KEY" autocomplete="off" class="layui-input">
                </div>
                </div>
            <fieldset class="layui-elem-field layui-field-title" >
                <legend style="color:#FF5722">支付宝支付配置</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label">APPID</label>
                <div class="layui-input-block">
                    <input type="text" id="alipay_appid" name="alipay_appid"  placeholder="支付宝应用AppID" autocomplete="off" class="layui-input">
                </div>
                </div>

            <div class="layui-form-item">
                <label class="layui-form-label">支付宝公钥</label>
                <div class="layui-input-block">
                    <textarea type="text" id="alipay_public_key" name="alipay_public_key"  placeholder="支付宝公钥" autocomplete="off" class="layui-input" style="height:80px;"></textarea>
                </div>
                </div>

                <div class="layui-form-item">
                <label class="layui-form-label" style="height:60px;">商户私钥<br><a href="https://docs.open.alipay.com/291/106097/" target="_blank" style="color:#F00;">查看方法</a></label>
                <div class="layui-input-block">
                    <textarea type="text" id="alipay_private_key"  name="alipay_private_key" lay-verify="required" autocomplete="off" placeholder="商户私钥" style="height:80px;" class="layui-input"></textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button  class="layui-btn" lay-submit="" lay-filter="toSubmit">提交</button>
                    <button style="display: none;" id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var lotusFormVal = {
        'site_name':"{$site_config.site_name}",
        'admin':"{$site_config.admin}",
        'phone':"{$site_config.phone}",
        'address':"{$site_config.address}",
        'email':"{$site_config.email}",
        'login_title':"{$site_config.login_title}",
        'wechat_mchid':"{$site_config.wechat_mchid}",
        'wechat_appid':"{$site_config.wechat_appid}",
        'wechat_key':"{$site_config.wechat_key}",
        'wechat_appsecret':"{$site_config.wechat_appsecret}",
        'alipay_appid':"{$site_config.alipay_appid}",
        'alipay_public_key':"{$site_config.alipay_public_key}",
        'alipay_private_key':"{$site_config.alipay_private_key}"
    }
    lotus.editSingleForm(lotusFormVal);

</script>
{/block}




