{extend name='pub/modal'}
{block name='content'}
<div class="layui-fluid layui-anim layui-anim-upbit" >
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table id="lotus-table"  lay-data="{page:true,limits:[10,20,100],loading:true,toolbar:'#toolbarDemo',url:'selectsupplierJson',hash:''}"  class="layui-table layui-hide" >
                        <thead>
                        <tr>
                            <th lay-data="{field:'id', sort: true}">ID</th>
                            <th lay-data="{field:'supplier_name'}">供应商名称</th>
                            <th lay-data="{field:'supplier_director'}">联系人</th>
                            <th lay-data="{field:'supplier_phone'}">联系电话</th>
                            <th lay-data="{field:'status',templet:'#statusTpl'}">状态</th>
                            <th lay-data="{'width':'180',field:'id',templet:'#actionTpl'}">操作</th>
                        </tr>
                        </thead>
                    </table>

                    <script type="text/html" id="toolbarDemo">
                        <div class = "layui-btn-container" >
                            <button class="layui-btn layui-btn-sm" onclick="xadmin.open('添加供应商','addSupplier.html')"><i class="layui-icon"></i>添加</button>
                        </div >
                    </script>
                    <script type="text/html" id="actionTpl">
                        <button onclick="lotus.del('{{d.id}}','delSupplier')" class="layui-btn layui-btn-danger layui-btn-xs">选择</button>
                    </script>
                    <script type="text/html" id="statusTpl">
                      {{#  if(d.status==1){   }}
                      <span class="layui-badge layui-bg-green">可用</span>
                        {{# }else{ }}
                        <span class="layui-badge">禁止</span>
                      {{# } }}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}