{extend name='pub/modal'}
<style media="print">
.ipt {display:none;}
@page {
      size: auto;  /* auto is the initial value */
      margin: 0mm; /* this affects the margin in the printer settings */
    }
</style>
<script type="text/javascript">
    function print(){
        $("#print_body").jqprint();
    }
</script>
{block name='content'}
<div class="layui-fluid layui-anim layui-anim-upbit" id="print_body">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-col-md12" style="height:80px;line-height:80px;text-align:center;font:bold 18px 黑体;"><h2>{$site_config.site_name}单据信息</h2></div>
                    <form class="layui-form layui-col-space8" method="post" id="lotus-sigle-edit-form" lay-filter="lotus-form-filter">
                        <div class="layui-row">
                            <div class="layui-inline">
                            <label class="layui-form-label">往来单位：</label>
                            <div class="layui-input-inline" style="width:120px;">
                                <input type="text" class="layui-input" readonly="readonly" name="member_name" style="border:0;">
                        </div>
                    </div>
                            
                        <div class="layui-inline">
                            <label class="layui-form-label">关联仓库：</label>
                        <div class="layui-input-inline" style="width:120px;">
                            <input type="text" class="layui-input" readonly="readonly" name="house_name" style="border:0;">
                        </div>
                    </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">操作员：</label>
                            <div class="layui-input-inline" style="width:120px;">
                            <input type="text" class="layui-input" readonly="readonly" name="fullname" style="border:0;">
                        </div>
                        </div>
                    </div>
                    <div class="layui-row">
                            <div class="layui-inline">
                            <label class="layui-form-label">订单号：</label>
                            <div class="layui-input-inline" style="width:150px;">
                            <input type="text" name="or_id" autocomplete="off" class="layui-input" value="{$or_id}" readonly="readonly" style="border:0;">
                        </div>
                    </div>
                            
                        <div class="layui-inline">
                            <label class="layui-form-label">日期：</label>
                        <div class="layui-input-inline" style="width:120px;">
                            <input class="layui-input" name="or_create_time" readonly="readonly" style="border:0;">
                        </div>
                    </div>
                            
                        <div class="layui-inline">
                            <label class="layui-form-label">状态：</label>
                        <div class="layui-input-inline" style="width:120px;">
                            <input class="layui-input" name="verify_status" readonly="readonly" style="border:0;">
                        </div>
                    </div>
                    <div class="layui-inline">
                            <label class="layui-form-label">单据类型：</label>
                        <div class="layui-input-inline" style="width:120px;">
                            <input class="layui-input" name="or_type" readonly="readonly" style="border:0;" value="{$data.or_type}">
                        </div>
                    </div>
                    <div class="layui-inline">
                            <label class="layui-form-label">备注：</label>
                        <div class="layui-input-inline" style="width:120px;">
                            <input class="layui-input" name="or_comment" readonly="readonly" style="border:0;" value="{$data.or_comment}">
                        </div>
                    </div>
                    </div>
                    
                    </form>
                </div>

                <div class="layui-card-body layui-table-body layui-table-main layui-col-md12">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>商品名</th>
                                <th>单位</th>
                                <th>规格</th>
                                <th>数量</th>
                                <th>单价</th>
                                <th>金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name='items' id='vo'}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.goodsname}</td>
                                <td>{$vo.unit}</td>
                                <td>{$vo.spec}</td>
                                <td>{$vo.it_number}</td>
                                <td>￥{$vo.it_price|number_format=1}</td>
                                <td>￥{$vo.it_number*$vo.it_price|number_format=2}</td>
                            </tr>
                        {/volist}
                        <tr>
                            <td colspan="2" style="text-align:right;">合计：</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>{$totals[0]['numbers']}</td>
                            <td>&nbsp;</td>
                            <td>￥{$totals[0]['moneys']|number_format=2}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-col-md12" style="margin-left:10%;line-height:200%;">打印日期：{$print_date}</div>
            </div>
        </div>
    </div>
</div>
<div class="layui-inline ipt layui-col-md12" style="text-align:right;margin-top:20px;margin-right:60px;">
    <a class="layui-btn print" class="ipt" href="javascript:void();" onclick="print();"><i class="iconfont icon-font-61d"></i>打印</a>
</div>
<script>
    var lotusFormVal = {
        'fullname':"{$data.fullname}",
        'member_name':"{$data.member_name}",
        'or_delivery':"{$delivery}",
        'verify_status':"{$verify_status}",
        'house_name':"{$data.house_name}",
        'or_create_time':"{$data.or_create_time}"
    }
    lotus.editSingleForm(lotusFormVal);
</script>
{/block}