{extend name='pub/modal'}
{block name='content'}
<div class="layui-fluid lotus-form">
    <div class="layui-row">
        <form class="layui-form layui-form-pane" id="lotus-add-form" action="addMember" method="post">


            <div class="layui-form-item">
                <label class="layui-form-label">客户名称</label>
                <div class="layui-input-block">
                    <input type="text"  name="member_name" lay-verify="required" autocomplete="off"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">客户简称</label>
                <div class="layui-input-block">
                    <input type="text"  name="member_sname" lay-verify="required" autocomplete="off"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">分&nbsp;&nbsp;&nbsp;类</label>
                <div class="layui-input-block">
                    <select lay-filter="aihao" name="member_category">
                        <option value="0">顶级分类</option>
                        {volist name='mcategory' id='vo'}
                            <option value="{$vo.id}">{$vo.level-1|str_repeat='丨--',###}{$vo.mcategory_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">客户地址</label>
                <div class="layui-input-block">
                    <input type="text"  name="member_address" lay-verify="required" autocomplete="off"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">网站</label>
                <div class="layui-input-block">
                    <input type="text"  name="member_site" lay-verify="required" autocomplete="off"  class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                    是否启用
                </label>
                <div class="layui-input-block">
                    <select lay-filter="aihao" name="member_status">
                        <option value="1">启用</option>
                        <option value="0">禁止</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">客户简介</label>
                <div class="layui-input-block">
                    <textarea  name="comment" style="height:80px;" class="layui-input"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button style="margin-left: 30%" class="layui-btn" lay-submit="" lay-filter="toSubmit">提交</button>
                    <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
    </div>
</div>
{/block}




