{include file='pub/head'}
<body class="index">
<!-- 顶部开始 -->
<div class="container" >
    <div class="logo">
        <a href="/index.php/admin">{$site_config.site_name}</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="layui-icon">&#xe668;</i></a>
    </div>

    <div class="shuaxin" style="margin-left: 25px;">
        <a class="top-refresh" ><i style="background: rgba(0,0,0,0);" title="刷新" class="layui-icon layui-icon-refresh"></i></a>
    </div>

    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="/index/index" target="_blank" title="POS收银前台">
                <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect="" title="全屏">
            <a  href="javascript:" id="fullscreen">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect >
            <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i>风格</a>
            <dl class="layui-nav-child" >
                <!-- 二级菜单 -->
                <dd>
                    <a href="javascript:setTheme('white-black')">阿修罗</a>
                </dd>
                <dd>
                    <a href="javascript:setTheme('black')">黑武士</a>
                </dd>
                <dd>
                    <a  href="javascript:setTheme('girl')">紫霞仙子</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item" lay-unselect>

            <a href="javascript:;"><i class="layui-icon layui-icon-username"></i>{:session('username')}</a>
            <dl class="layui-nav-child" >
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('修改密码','{:url(\'admin/user/editPasswd\')}')">修改密码</a>
                </dd>
                <dd>
                    <a  href="javascript:logout()">注销账号</a>
                </dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-hide-xs" style="position:relative;right: 1px;">
            <a href="http://www.viooma.com/topics.html" target="_blank" title="提交问题，获取帮助">
                <i class="layui-icon">&#xe606;</i>&nbsp;FAQ
            </a>
        </li>

    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
{include file='pub/left'}
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home layui-this" lay-id="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe  src="{:url('admin/index/welcome')}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
</body>
<script>
    //注销方法
    function logout() {
        $.ajax({
            url: "{:url('/admin/login/logout')}",
            type: 'post',
            dataType: 'json',
            data:{},
        })
            .done(function(data){
                console.log(data);
                if(data.code==0){
                    layer.msg(data.msg);
                }else{
                    layer.msg(data.msg,{icon:1,offset:'t'},function(){
                        location.href = data.url;
                    });

                }
            })
    }
    //切换主题
    function setTheme(key) {
        $.ajax({
            url: "{:url('/admin/index/setTheme')}",
            type: 'get',
            dataType: 'json',
            data:{'theme':key},
        })
        .done(function(data){
            console.log(data);
            if(data.code==0){
                layer.msg(data.msg);
            }else{
                layer.msg(data.msg,{icon:1,offset:'t'},function(){
                    location.href = data.url;
                });

            }
        })
    }
</script>
{include file='pub/foot'}