{extend name='pub/modal'}
{block name='content'}
<div class="layui-fluid layui-anim layui-anim-upbit" >
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table id="lotus-table"  lay-data="{page:false,limits:[10,20,100],loading:true,toolbar:'#toolbarDemo',url:'mcategoryListJson',hash:''}"  class="layui-table layui-hide" >
                        <thead>
                        <tr>
                            <th lay-data="{field:'mcategory_name'}">分类名称</th>
                            <th lay-data="{field:'discount'}">享受折扣</th>
                            <th lay-data="{field:'status',templet:'#statusTpl'}">状态</th>
                            <th lay-data="{field:'sort'}">排序参数(越大越往后)</th>
                            <th lay-data="{'width':'180',field:'id',templet:'#actionTpl'}">操作</th>
                        </tr>
                        </thead>
                    </table>

                    <script type="text/html" id="toolbarDemo">
                        <div class = "layui-btn-container" >
                            <button class="layui-btn layui-btn-sm" onclick="xadmin.open('添加','addMcategory.html')"><i class="layui-icon"></i>添加</button>
                        </div >
                    </script>
                    <script type="text/html" id="actionTpl">
                        <button onclick="xadmin.open('编辑分类','editMcategory.html?id={{d.id}}')" class="layui-btn  layui-btn-xs">编辑</button>
                        <button onclick="lotus.del('{{d.id}}','delMcategory')" class="layui-btn layui-btn-danger layui-btn-xs">删除</button>
                    </script>
                    <script type="text/html" id="statusTpl">
                      {{#  if(d.status==1){   }}
                      <span class="layui-badge layui-bg-green">显示</span>
                        {{# }else{ }}
                        <span class="layui-badge">隐藏</span>
                      {{# } }}
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}