<?xml version="1.0" ?>
<handlers>
	<remove name="php_52"/>
	<remove name="php_53"/>
	<remove name="php_54"/>
	<remove name="php_55"/>
	<remove name="php_56"/>
	<remove name="php_70"/>
	<remove name="php_71"/>
	<remove name="php_72"/>
	<remove name="php_73"/>
	<remove name="php_74"/>
	<remove name="php_75"/>
	<add modules="FastCgiModule" name="php_70" path="*.php" requireAccess="Script" resourceType="Unspecified" scriptProcessor="D:\BtSoft\php\70\php-cgi.exe" verb="*"/>
</handlers>
